# Directory to store state snapshots.
# The token node will read the latest snapshot on launch to skip
# reading from the entire topic.
HSC_STATE_DIR=_state

# How often (in seconds) to take a state snapshot.
HSC_STATE_INTERVAL=5

# Maximum number of state snaphots to keep in the state directory
# 5s * 20 = 1m
HSC_STATE_HISTORY_SIZE=20

# Operator on Hedera to use to execute any needed transactions.
# This is the account that will get charged.
# Note that an operator **is not required** to run a token node on an
#   existing topic.
HSC_OPERATOR_ID=0.0.___
HSC_OPERATOR_KEY=302e___

# Topic on Hedera to use.
# Leave this unset to create a new contract on a new topic. Requires an
#   operator to be set.
HSC_TOPIC_ID=0.0.____

# Required when creating a new stable coin contract instance.
HSC_TOKEN_NAME=Fire
HSC_TOKEN_SYMBOL=XFR
HSC_TOKEN_DECIMAL=2
HSC_TOTAL_SUPPLY=10000

# Optional when creating a new stable coin contract instance.
# Defaults to the operator key.
HSC_OWNER_KEY=302___  # Private Key
HSC_SUPPLY_MANAGER_KEY=302___  # Public Key
HSC_ASSET_PROTECTION_MANAGER_KEY=302___  # Public Key
