# How often (in seconds) to commit to a persistent store for logging and state.
HSC_COMMIT_INTERVAL=5

# Directory to store state snapshots.
# The token node will read the latest snapshot on launch to skip
# reading from the entire topic.
HSC_STATE_DIR=_state

# Maximum number of state snaphots to keep in the state directory
HSC_STATE_HISTORY_SIZE=3

# Database information for transaction and event logging
HSC_DATABASE_URL=jdbc:postgresql://localhost:5432/stable_coin
HSC_DATABASE_USERNAME=postgres
HSC_DATABASE_PASSWORD=password

# Operator on Hedera to use to execute any needed transactions.
# This is the account that will get charged.
# Note that an operator **is not required** to run a token node on an
#   existing topic.
HSC_OPERATOR_ID=0.0.___
HSC_OPERATOR_KEY=302e___

# Topic on Hedera to use.
# Leave this unset to create a new contract on a new topic. Requires an
#   operator to be set.
HSC_TOPIC_ID=0.0.____

# Required when creating a new stable coin contract instance.
HSC_TOKEN_NAME=Fire
HSC_TOKEN_SYMBOL=XFR
HSC_TOKEN_DECIMAL=2
HSC_TOTAL_SUPPLY=10000

# Optional when creating a new stable coin contract instance.
# Defaults to the operator key.
HSC_OWNER_KEY=302___  # Private Key
HSC_SUPPLY_MANAGER_KEY=302___  # Public Key
HSC_COMPLIANCE_MANAGER_KEY=302___  # Public Key
