# gradle project-specific cache directory
.gradle/

# gradle build output directory
build/

# editor files: intellij
.idea/

# editor files: vscode
bin/
.classpath
.settings
.project
.vscode/

# generated code
src/main/java/com/hedera/hashgraph/stablecoin/app/proto
src/main/java/com/hedera/hashgraph/stablecoin/app/db

# local environment
.env

# state snapshot dir from .env.sample
_state/
